<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Hiiiiiiiiiii</h2>
    <p>post id is : <%= post.id %></p>
    <br /><br />
    <div class="post">
      <h3>@<%= post.username %></h3>
      <br />
      <h4>content : <%= post.content %></h4>
    </div>
  </body>
</html>
